// Color principal: #5265E1
// Color secundari: #FA5959
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$primary: #5265E1;
$secondary: #FA5959;
.parrafo {
    color: grey;
}
.nav-item .btn {
    width: 130px;
    color: white;
}
.imagen1 {
    position: relative;
    z-index: 1;
}
.imagen2 {
    position: relative;
    width: 500px;
    height: 350px;
    background-color: #485BC7;
    border-radius: 0 0 0 35%;
    z-index: 0;
    margin-left: 200px;
    margin-top: -320px;
}

    
 @media (max-width: 576px) {
     .col-lg-7 {
         order: 1;
         transform: scale(80%);
         margin-left: -85px;
     }
     .col-lg-5 {
         order: 2;
         align-items: center;
     }
     .texto {
         max-width: 55%;
     }
     .parrafo {
         max-width: 55%;
     }
 }   
 @media (max-width: 768px){
     .col-lg-7 {
         order: 1;
     }
     .col-lg-5 {
         order: 2;
         align-items: center;
     }
     .texto {
         margin-top: 40px;
     }
     .parrafo {
        //max-width: 80%;
         text-align: center;
     }
 }
 @media (max-width: 992px){
     
 }



@import "../node_modules/bootstrap/scss/bootstrap"
